body{
    width: 1920px;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-color: rebeccapurple green;
}
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(41, 148, 99, .75) #fff;
}

*::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
*::-webkit-scrollbar-track {
    background: #fff;
}

*::-webkit-scrollbar-thumb {
    background-color: #0B2360;
    border-radius: 8px;
    border: 1px solid #fff;
}
header{
    position: fixed;
    width:100%;
    height: 128px;
    left: 0;
    top: 0;
    right: 0;
    background: url("../images/header-bg.svg") no-repeat center;
    background-size: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    z-index: 2;

}
.header-svg{
    margin-left: 150px;
}
.header-links{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 40px;
    margin-left: 50px;
}
header .header-links a{
    width: 138px;
    height: 27px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.045em;
    text-transform: uppercase;
    text-decoration: none;
    color: #1B1B1B;
}
header a button{
    all: unset;
    width: 132px;
    height: 43px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    background: #FDBD13;
    position: relative;
    left: -75px;
}
header a button:hover{
    box-shadow: 2px 2px 10px rgba(253, 189, 0.15);
    transition: all .2s ease-in-out;
}
header .header-button a{
    text-decoration: none;
    color: #0B2360;
}
.container{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 128px;
    z-index: 1;
    margin: 0 auto;
}
.start{
    width: 100%;
    height: 780px;
    background: linear-gradient(180deg, rgba(11, 35, 96, 0) 47.23%, #0B2360 100%), url("../images/start-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    padding: 40px;
}
.start-text-left{
    width: 580px;
    height: 112px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #FFFFFF;
}
.start-text-right{
    width: 580px;
    height: 112px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 127.19%;
    /* or 25px */
    display: flex;
    align-items: center;
    color: #FFFFFF;
    position: relative;
    top: -25px;
}
.start-footer{
    width: 100%;
    height: 549px;
    display: flex;
    background: #0B2360;
    justify-content: center;
    z-index: 1;
}

.start-footer-first{
    width: 462px;
    height: 549px;
    opacity: 1;
    transition: all .5s ease-in-out;
    background: linear-gradient(180deg, rgba(11, 35, 96, 0.4) 50%, rgba(11, 35, 96, 0) 78.65%), url("../images/start-bg.jpg") center no-repeat;
}
.start-footer-second{
    width: 462px;
    height: 549px;
    background: #0B2360 center;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    opacity:0;
}
.start-footer-third {
    width: 462px;
    height: 549px;
    background: #0B2360 center;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    opacity: 0;
}
.start-footer-fourth{
    width: 462px;
    height: 549px;
    background: #0B2360 center;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    opacity: 0;
}
.start-footer-first.active, .start-footer-second.active .start-footer-third.active .start-footer-fourth.active{
    opacity: 0;
    transition: all .5s ease-in-out;
}
.start-footer-second:hover{
    background: linear-gradient(180deg, rgba(11, 35, 96, 0.4) 50%, rgba(11, 35, 96, 0) 78.65%), url("../images/start-bg1.jpg") no-repeat center;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    opacity: 1;
}
.start-footer-third:hover{
    background: linear-gradient(180deg, rgba(11, 35, 96, 0.4) 50%, rgba(11, 35, 96, 0) 78.65%), url("../images/start-bg2.jpg") no-repeat center;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    opacity: 1;
}
.start-footer-fourth:hover{
    background: linear-gradient(180deg, rgba(11, 35, 96, 0.4) 50%, rgba(11, 35, 96, 0) 78.65%), url("../images/start-bg3.jpg") no-repeat center;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
    opacity: 1;
}

.start-footer-top-text{

    width: 257px;
    height: 99px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
    align-self: stretch;
    position: absolute;
    top: 900px;
    left: calc(50% - 875px);
    cursor: default;
    pointer-events: none;
}
.start-footer-bottom-text{
    width: 257px;
    height: 171px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #EEEDED;
    position: absolute;
    top: 1050px;
    left: calc(50% - 875px);
    cursor: default;
    pointer-events: none;

}
.start-footer a{
    position: absolute;
    width: 135px;
    height: 43px;
    background: #FDBD13;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    top: 1300px;
    left: 50px;
    color: #0B2360;
    z-index: 1;
    pointer-events: none;
}
.start-footer button{
    all: unset;
    width: 135px;
    height: 43px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    position: relative;
    background: #FDBD13;


}
.start-footer a:hover button:hover{
    box-shadow: 2px 2px 10px rgba(253, 189, 0.15);
    transition: all .2s ease-in-out;
}
.about{
    width: 100%;
    height: 476px;
    background: url("../images/svg-bg.svg") center no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.about h1{
    width: 270px;
    height: 124px;
    position: relative;
    left: -625px;
    top: 57px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    -webkit-text-stroke: 3px #0B2360;
    color: transparent;
}
.about p{
    width: 875px;
    height: 204px;
    position: relative;
    left: -320px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160.19%;
    letter-spacing: -0.025em;
    text-indent: 128px;
    text-transform: uppercase;
    color: #0B2360;
}
.about button{
    all: unset;
    width: 370px;
    height: 86px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    background: #0B2360;
    color: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(253, 189, 19, 0.15);
}
.about a:hover{
    box-shadow: 0px 1px 5px rgba(11, 35, 96, 0.05), 0px 5px 11px rgba(11, 35, 96, 0.2);
    transition: all 100ms ease-in-out;
}
.about a{
    width: 370px;
    height: 86px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    position: relative;
    left: 520px;
    top: -230px;
    text-decoration: none;
}
.main-guideline{
    width: 100%;
    height: 917px;
    margin-top: 50px;
    background: linear-gradient(180deg, #FDBD13 0%, rgba(253, 189, 19, 0) 69.28%);
    border-radius: 24px;
}
.main-guideline .h1{
    height: 300px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.main-guideline h1{
    width: 1320px;
    height: 300px;
    -webkit-text-stroke: 3px #0B2360;
    color: transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 120px;
    line-height: 90%;
    letter-spacing: -5px;
    margin-left: 150px;
}
.main-guideline-blocks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    gap: 32px;
}
.main-guideline-subblocks{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
}
.main-guideline-subblocks .main-guideline-subblocks-info{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 28px;
    gap: 64px;
    width: 624px;
    height: 214px;
    background: #FFFFFF;
    border: 5px solid transparent;
    border-image: linear-gradient(to left top, rgba(31, 37, 71, 0.5) ,rgba(31, 37, 71, 0), rgba(31, 37, 71, 0.5));
    border-image-slice: 1;
}
.main-guideline-subblocks-info div{
    width: 400px;
    height: 101px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-guideline-subblocks .h2{
    width: 246px;
    height: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #0B2360;

    margin-block-end: 0;
}
.main-guideline-subblocks p{
    width: 400px;
    height: 57px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(11, 35, 96, 0.9);
}
.advantages-of-work{
    width: 100%;
    height: 1120px;
    background: url("../images/advanteges-bg.svg") no-repeat center;
}
.advantages-of-work h1{
    -webkit-text-stroke: 3px #0B2360;
    color: transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 120px;
    line-height: 90%;
    letter-spacing: -5px;
    width: 830px;
    height: 270px;
    text-align: end;
    margin-block-end: 10px;
    margin-left: calc(50%);
}
.advantages-of-work-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 64px;
}
.advantages-of-work-subblock{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
}
.advantages-of-work .block{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 28px 32px;
    gap: 64px;
    width: 624px;
    height: 214px;
    background: white;
    border: 5px solid transparent;
    border-image: linear-gradient(to left top,rgba(253, 189, 19, 1), rgba(253, 189, 19, 0), rgba(253, 189, 19, 1));
    border-image-slice: 1;
}
.advantages-of-work img{
    width: 96px;
}
.advantages-of-work .static{
    position: absolute;
}
.advantages-of-work .block:hover .static{
    opacity: 0;
}
.advantages-of-work h2{
    margin-block-end: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #0B2360;

}
.advantages-of-work p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(11, 35, 96, 0.9);

}
.image-slider{
    width: 100%;
    height: 872px;
    background: url("../images/slide-bg.svg") no-repeat center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.image-slider a{
    width: 316px;
    height: 52px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #0B2360;
    text-decoration: none;
    margin-left: calc(50% + 500px);
    padding-bottom: 50px;
}
.image-slider button{
    all: unset;
    width: 316px;
    height: 52px;
    background: #FDBD13;
    left: calc(50%);

}
.image-slider button:hover{
    box-shadow: 2px 2px 10px rgba(253, 189, 0.15);
    transition: all .2s ease-in-out;
}
.slider{
    display: flex;
    width: 1750px;
    gap: 64px;
    position: relative;
    left: calc(50% - 800px);
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 8px;

}
.slider-images{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
}
.slider p{
    width: 551px;
    height: 81px;
    position: absolute;
    top: 370px;
    background: url("../images/slidertext-bg.svg");
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #0B2360;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider::-webkit-scrollbar{
    width: 50px;
}
.slider::-webkit-scrollbar-track {
    background: transparent;
}
.slider img{
    width: 973px;
    height: 544px;
    border-radius: 8px;
}
.form{
    width: 100%;
    height: 600px;
    background: url("../images/form-bg.svg") no-repeat center;

}
footer{
    height: 9000px;
}
